@import "../../../assets/scssRule/rule";
@import "../../../assets/scssRule/all";
@import "../../../assets/scssRule/reset";

/* 設定景點卡片大小 */

.box_card {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  /* 黑色，50% 不透明度 */

  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card {
  display: flex;
  width: 875px;
  border-radius: 20px;
  background-color: white;
  padding: 40px 30px;
  margin: 50px;

  // overflow: auto;
  position: relative;

  /* 動畫效果 */
  animation: fadeIn 0.35s forwards;

  @keyframes fadeIn {
    from {
      scale: 50%;
      opacity: 0;
      visibility: hidden;
    }

    to {
      scale: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fadeOut {
    from {
      scale: 100%;
      opacity: 1;
      visibility: visible;
    }

    to {
      scale: 50%;
      opacity: 0;
      visibility: hidden;
    }
  }

  /* 燈箱打開時的樣式 */
  &.open {
    /* 完全不透明，可見 */
    opacity: 1;
    visibility: visible;
  }

  .card_scrollbox {
    height: 550px;
    width: 100%;
    /* 剛好切到週五一部分的高度 */
    display: flex;
    /* max-height: 100%; 設置最大高度為容器的 80% */
    overflow-y: scroll;
    /* 內容超出時顯示垂直滾動條 */
    overflow-x: hidden;

    position: relative;
  }
}

/* 滾軸設定 */

.card_scrollbox {
  &::-webkit-scrollbar {
    width: 3px;
    background: #ddd;
    height: 0;
  }

  &::-webkit-scrollbar:horizontal {
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    width: 10px;
    height: 5px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #ddd;
  }

  &::-webkit-scrollbar-corner {
    background: #ddd;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar-track-piece {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

// .card_info_left,
// .card_info_right,
// .empty {
//     height: 100%;
//     margin-top: 20vh;
//     height: 80vh;
// }

/* 景點卡片左半部 */

.card_info_left {
  width: 296px;
  margin-right: 32px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* 主圖 */
  .pic_main {
    height: 270px;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 20px 0 20px 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  /*輪播圖*/
  .pic_carousel_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    .pic_carousel {
      width: 18%;
      height: 100%;
      border-radius: 5px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*營業資訊*/

.info_business {
  display: flex;
  flex-direction: column;
  height: 100%;

  h6 {
    font-family: Noto Sans TC, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 20px 0;

    width: 100%;
  }

  p {
    font-family: Noto Sans TC, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    width: 100%;
    margin-bottom: 10px;
  }
}

/* 景點卡片右半部 */

.card_info_right {
  width: 296px;
  height: 750px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info_carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 296px;

    margin-bottom: 40px;
    overflow: hidden;

    .title_card_viewpoint {
      display: flex;
      height: 24px;
      font-family: Noto Sans TC, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

      margin-bottom: 17px;
    }

    .evaluate {
      height: 18px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: Noto Sans TC, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;

      margin-bottom: 17px;

      .evaluate_left {
        display: flex;

        figure {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14px;
          height: 14px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .evaluate figure,
    .address_carousel figure,
    .link_carousel figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }

    /*地址*/
    .address_carousel {
      display: flex;
      align-items: center;
      margin-bottom: 17px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        font-family: Noto Sans TC, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
      }

      figure {
        width: 14px;
        height: 14px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    /*Facebook link*/
    .link_carousel {
      display: flex;
      align-items: center;
      margin-bottom: 17px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        color: $color-black;
      }

      figure {
        width: 14px;
        height: 14px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    /* Tags */

    .tag_box_carousel {
      display: flex;
      gap: 4.5px;
      height: 60px;
      margin-bottom: 17px;

      .tag_carousel {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Noto Sans TC, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        border-radius: 5px;
        background: $color_gray2;
        padding: 2.5px 12px;
        color: $color-black;
      }
    }
  }

  .commends_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .commends_item {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 17px;

      .evaluate_commends {
        display: flex;
        width: 100%;

        figure {
          display: flex;
          align-items: center;

          margin-right: 5px;
        }

        span {
          font-family: Noto Sans TC, sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        }
      }

      p {
        font-family: Noto Sans TC, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        position: relative;
        // border-bottom: 1px solid black;
        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background-color: black;
          position: absolute;
          left: 0;
          bottom: -2px;
        }
      }
    }
  }

  .map {
    width: 296px;
    height: 283px;

    /* 暫時辨識用 */
    background-color: #666;
  }
}

/* 佔位元素 */

.empty {
  width: 170px;
}

/* 刪除按鈕 */

.btn_cancel {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

/* 加入行程按鈕 */

.card_button {
  display: flex;
  gap: 12px;
  /* margin-top:auto可以將元素置於底部 */

  position: absolute;
  right: 30px;
  bottom: 40px;
  cursor: pointer;

  .btn_add {
    height: auto;
  }

  .collect {
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 10px;

    img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  .journey_viewpoint {
    text-decoration: none;
    @include text_btn_big;
    padding: 10px 20px;

    // font-family: Noto Sans TC, sans-serif;
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 150%;
    // text-decoration: none;
  }
}

/* 打開燈箱時，禁止網頁卷軸滾動 */
.no-scroll {
  overflow: hidden;
  height: 100%;
  padding-right: 16px;
}

//為了RWD改變不同父元素中的子元素

.rwd {
  display: none;
}

@media (max-width: 1200px) {
  .card {
    height: 650px;
    .card_scrollbox {
      height: 100%;
      .info_carousel {
        height: 200px;
        padding-bottom: 80px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 900px) {
  .card {
    height: 618px;
    width: 550px;
    .card_scrollbox {
      display: flex;
      flex-direction: column;

      .info_carousel {
        margin-top: 22px;
      }

      .norwd {
        display: none;
      }

      .info_business.rwd {
        display: flex;
        flex-direction: column;
        height: 300px;
      }
    }

    .card_info_left {
      height: auto;
      margin: 0;
    }
    .card_info_right {
      height: auto;
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .btn_cancel {
    right: 15px !important;
    top: 15px;
  }
  .card {
    padding: 30px 15px;
    .card_info_left {
      width: 90%;
      margin: 0;
    }
    .card_info_right {
      width: 90%;
      margin: 0;
    }

    .card_button {
      width: 100%;
      // left: 0;
      right: auto;
      bottom: 15px;
      .collect {
        display: none;
      }
      .journey_viewpoint {
        width: 90%;
      }
    }
  }
}
