
@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";

// ====================================
.deleteToast-box {
    margin: 10px; //用來看設計
    background-color: white;
    width: 80px;
    height: 40px;
    @include shadow;
    border-radius: $border_radius_10px;
    display: flex;
    padding: 0 10px;

    cursor: pointer; // Andy 加上的

    p {
        font-size: 0.9rem;
        margin: auto;
        display: flex;
        gap: 8px;
        align-items: center

        span {
            font-size: 20px;
        }
    }

    &:hover{
        background-color: $color_gray3;
    }

    &:hover span{
        color: $color_gray3;
    }
}