.text-wrap{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 0px 0px;
}

.text-wrap {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    transition: .3s;

}

.icon-luggage {
    color: #FFFFFF;
    transition: .3s;
}

.btn-list:hover  .icon-luggage,
.btn-list:hover  .text-wrap {
    color: #333333;
}