@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";

// ====================================

.Schedule_container {
    margin: 20px 9%;
    display: flex;
    flex-direction: column;

    // .wrap {}

    // 行程表頭
    .tripHead {
        .tripTitle {
            // 故意改的
            padding: 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .h3_title {
                font-family: Noto Sans TC;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }
            .day_font {
                &:hover {
                    font-family: Noto Sans TC;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: black;
                    /* 设置所有的 <h2> 初始为灰色 */
                }
                &:first-child {
                    color: #000;
                    /* 第一个 <h2> 设置为黑色 */
                }

                .day_select {
                    font-family: Noto Sans TC;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: #929292;
                    /* 设置所有的 <h2> 初始为灰色 */
                }
            }

            // 功能按鈕
            .tripFunc {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;
                z-index: 20;
                a {
                    text-decoration: none;
                }

                .LB-container {
                    position: relative;
                    z-index: 1000; /* 設置一個足夠高的值 */
                    
                    padding: 0px;
                }

                .set_icon {
                    padding: 10px 12px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-items: center;
                    background-color: #3d9d35;
                    border-radius: 30px;
                    color: #fff;

                    cursor: pointer;

                    &:hover {
                        background-color: #8eb91f;
                        color: #333;
                        transition: 0.3s;
                    }
                }

                .icon-map {
                    font-size: 20px;
                }
            }
        }
    }
    .Schedule_date {
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .btn-day-control {
            margin: 0px 12px;
            border-radius: 20px;

            width: 34px;
            height: 34px;
            background-color: #f5f5f5;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #d9d9d9;
            }
        }
        .btn_day-wrap {
            .btn_day {
                padding: 8px 20px;
                display: flex;
                align-items: center;

                border-bottom: solid;
                border-color: #929292;

                font-family: Noto Sans TC;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                color: #929292;
                /* 设置所有的 <h2> 初始为灰色 */
                cursor: pointer;

                &:hover {
                    color: black;
                    /* 设置所有的 <h2> 初始为灰色 */
                    border-bottom: solid;
                    border-color: black;
                }
                &:first-child {
                    color: black;
                    border-color: black;
                }
            }
        }

    }

    .schedule-wrap {
        .scheduleList {
            margin: 50px 0px;
            gap: 0 20px;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .btn-add-control {
                width: 34px;
                height: 34px;
                background-color: #f5f5f5;
            
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #d9d9d9;
                }

                // .icon-add {}
                
                .icon-add-color {
                    padding: 5px 5px;
                    display: flex;
                    align-items: center;
                    color: #333333;
                    font-size: 20px;
                }
            }
        }
    }
}
