@charset "UTF-8";
/*須設定才能抓得到中文字*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Grenze+Gotisch:wght@200&display=swap');
/*Google Fonts*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap');
/*Google Fonts*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*清除input標籤自帶樣式*/
input {
	border: 0;
	/* 清除自帶的2px的邊框 */
	padding: 0;
	/* 清除自帶的padding間距 */
	outline: none;
	/* 清除input點擊之後的黑色邊框 */
}

/*定義css變數*/
:root {
	/*灰階*/
	--light_grey: #ccc;
	--grey: #999;
	--deep_grey: #666;
	/*主色調*/
	--major-color: #f2edf0;
	--major-color2: #e6ece5;
	--major-color3: #ecf0f4;
	/*輔助色調*/
	--lesser-color: #bf9899;
}

/*網頁常用設定*/

* {
	/*"*"表全域選擇器，改變所有標籤*/
	box-sizing: border-box;
	/*不累加邊框和內距，間距還是會累積*/
}

a {
	display: block;
	text-decoration: none;
	/* color: black; */
	/*a自帶有底線與點擊顏色*/
}

figure {
	position: relative;
}

img {
	display: block;
	width: 100%;
}

body {
	/* background-color: blanchedalmond; */
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/*共用區*/

section {
	height: 100vh;
	/*100vh表示剛好一個視窗高，會自動彈性符合*/
	display: flex;
	/*轉變後預設主軸方向變為水平*/
	flex-direction: column;
	/*轉變主軸方向為垂直*/
	align-items: center;
	/*副軸(水平)置中*/
	justify-content: center;
	/*主軸(垂直)置中*/
}


/*Index*/
/*Header Area*/

#land_page {
	display: flex;
	height: 100vh;
	/* width: 1440px; */
	width: 100%;
}

.page_left {
	width: 93%;
	height: 100%;
}

.area_attention {
	height: 90vh;
	width: 100%;
}

.box_attention {
	height: 100%;
	width: 100%;
}

.box_attention .bg {
	height: 100%;
	width: 100%;
}



.bar_top_home {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #81E6FD;
	height: 82px;
	padding: 20px;
}

/* .logo_home {
	margin: 16px 0;
	margin-left: 20px;
} */

.logo_home img {
	width: 120px;
	height: 48px;
}

/*至頂按鈕*/
.nav_home ul {
	display: flex;
	justify-content: center;
	align-items: center;

	/* width: 274px; */
	/* margin: 25px 0; */
	height: 32px;
	padding: 5px 30px;
	gap: 0 2rem;

	background-color: #FFFFFF;
	border-radius: 20px;
	background: rgba(236, 236, 236, 0.50);
	white-space: nowrap;
}

.nav_home ul li a {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
}

/* 佔位置協助排版的空div */
.empty_header {
	width: 0.55%;
}

.area_attention {
	display: flex;
}

.box_attention {
	position: relative;

	width: 100%;
	height: 100%;

	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;
}

.box_attention .bg img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: right center; /* 以右边为基准，垂直方向居中 */
}

.box_attention p {
	font-family: 'Noto Sans TC', sans-serif;
	/* font-size: 64px; */
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 110px;  */
	/*手動更動line-height(原設定normal)*/

	background-color: white;
	margin-bottom: 50px;
	/* padding-right: 50px;
	padding-left: 27px; */
	padding: 12px 50px 12px 27px;

	z-index: 1;

}

.slogan1 {
	position: absolute;
	/* left: 27px; */
	top: 160px;
}

.slogan2 {
	position: absolute;
	/* left: 27px; */
	top: 264px;
}


/* h1底色塊 */
.box_attention .bg_white {
	background-color: #FFFFFF;
}

.box_attention .bar1 {
	/* width: 779px; */
	width: 58%;
	height: 86px;

	position: absolute;
	left: 0;
	top: 174px;
}

.box_attention .bar2 {
	/* width: 650px; */
	width: 50%;
	height: 94px;

	position: absolute;
	left: 0;
	top: 278px;
}

/*免費開始*/
.box_attention .btn {
	text-align: center;
	position: absolute;
	top: 390px;
	left: 28px;

	width: 232px;
	height: 70px;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;

	border-radius: 50px;
	background-color: #FFDF06;
}

.page_right {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 140px; */
	width: 6%;
	margin-left: 1%;
}

.login_home {
	height: 82px;
	width: 100%;
	background-color: #FFFFFF;

	display: flex;
	align-items: center;
	justify-content: center;
}

.bar_col {
	height: 90vh;
}


/*右側直立英文圖案*/
.bar_col img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*Main Area*/

/*About*/

#about {
	height: 50vh;
	/* margin-top: 64px; */
}

#about .title_section_home {
	text-align: center;
	margin-bottom: 20px;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
	/* 150% */
}

#about p {
	text-align: center;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 36px */
}

/*Features*/

#features .title_section_home {
	text-align: center;
	margin-bottom: 20px;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
	/* 150% */
}

.box_feat {
	display: flex;

	/* 讓box兩兩排列 */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* 創建兩列 */
	grid-gap: 20px;
	/* 根据需要调整网格间距 */
}

.item_feat {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 297px;
	height: 267px;
	/* margin: 20px 10px; */
	padding: 53px 25px;
	gap: 8px;
	border-radius: 20px;

	position: relative;
	overflow: hidden;
}

.item_feat h3 {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	/* 36px */
}

.item_feat p {
	position: relative;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
}

.item_feat figure {
	position: absolute;
	right: 0;
	bottom: 0;
}

.box1 {
	background-color: #3D9D35;
}

/*第一格字體顏色不同另外設定*/
.box1 h3,
.box1 p {
	color: white;
}

.box2 {
	background-color: #FFDF06;
}

.box3 {
	background-color: #81E6FD;
}

.box4 {
	background-color: #B8EB35;
}



/*How*/

#how {
	gap: 24px;
}

#how .title_section_home {
	text-align: center;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}

.guide {
	display: flex;
	height: 744px;
}

.btn_step ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 12px;
}

.btn_step a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 8px 20px;
	border-radius: 15px;

	color: white;
	background: #3D9D35;
	/*Hover/Click 交換使用 #006D3B*/
}

.direction {
	display: flex;
	position: relative;
	width: 824px;
	height: 494px;
	flex-shrink: 0;

	border-radius: 20px;
	background: #F5F5F5;
}

.direction h3 {
	position: absolute;
	top: 171px;
	left: 102px;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.direction p {
	position: absolute;
	top: 250px;
	left: 102px;
	width: 270px;

	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	/* 36px */
}

.direction figure {
	width: 297px;
	height: 577px;
	flex-shrink: 0;

	position: absolute;
	right: 115px;
	top: 89px;
}

/*Footer*/

footer {
	display: flex;
	flex-direction: column;
	height: 15vh;

	background: #F5F5F5;
}

footer a {
	font-family: Noto Sans TC;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	/* 22.4px */
}

.btn_footer_upper,
.btn_footer_lower {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_footer_upper {
	height: 30%;
	margin-top: 24px;
	gap: 60px;
}

.btn_footer_lower {
	height: 30%;
	margin-top: 12px;
	margin-bottom: 24px;
	gap: 120px;
}