@use "../../../assets/scssRule/all"as *;
@use "../../../assets//scssRule/rule"as r;
// @use "../../../assets/scssRule/reset" as *;

/*Index*/
/*Header Area*/

#land_page {
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 999;

  .page_left {
    width: 93%;
    height: 100%;
    background-color: $color_white;

    .area_attention {
      height: 91.9vh;
      width: 100%;

      display: flex;

      .box_attention {
        height: 100%;
        width: 100%;

        position: relative;
        background-color: $color_blue;
        background-repeat: no-repeat;
        background-size: cover;

        transition: background-color 1s ease;

        .bg_home {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;

          .sun {
            // width: 55%;
            width: 800px;
            height: 800px;

            overflow: hidden;
            position: absolute;
            right: 2%;
            top: 7%;
            background-color: $color_yellow;
            clip-path: circle(50%);
            /* 將div剪裁為圓形 */
            // transform: translate(-50%, -50%);

            transition: background-color 1s ease;
          }

          .bg_clean {
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              object-position: right center;
            }
          }
        }

        // 首頁標語

        .slogan1 {
          position: absolute;
          top: 10vh;
          left: 25px;
          z-index: 5;
        }

        .slogan2 {
          position: absolute;
          top: calc(10vh + 150px);
          left: -5px;
          z-index: 5;
        }

        .mobile_slogan {
          display: none;
        }

        // p {
        //     font-family: 'Noto Sans TC', sans-serif;

        //     font-size: 4rem;
        //     font-style: normal;
        //     font-weight: 400;

        //     background-color: white;
        //     margin-bottom: 50px;

        //     padding: 12px 50px 12px 27px;
        //     z-index: 1;
        // }

        // 免費開始(按鈕)

        .btn_freeStart {
          text-align: center;
          position: absolute;
          top: calc(10vh + 150px + 170px);
          left: 4%;
          width: 232px;
          height: 70px;

          border-radius: 50px;
          background-color: r.$color_yellow;
          z-index: 5;
          transition: 0.15s;
          cursor: pointer;

          .btn_start {
            font-family: "Noto Sans TC", sans-serif;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 70px;
            color: r.$color_black;
            transition: 0.15s;
            cursor: pointer;
          }

          &:hover {
            animation: pulse 1s;
            box-shadow: 0 0 0 2em transparent;

            @keyframes pulse {
              0% {
                box-shadow: 0 0 0 0 $color_yellow;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #land_page {
    .page_left {
      .area_attention {
        .box_attention {
          .bg_home {
            .sun {
              width: 900px;
              height: 900px;
              right: -20%;
              top: 33%;
            }

            .bg_clean {
              height: 60%;
            }
          }

          .slogan1 {
            position: absolute;
            top: 8vh;
            left: 25px;
            z-index: 5;
          }

          .slogan2 {
            position: absolute;
            top: calc(8vh + 150px);
            left: -5px;
            z-index: 5;
          }

          .mobile_slogan {
            display: none;
          }

          .btn_freeStart {
            top: calc(8vh + 150px + 170px);

            .btn_start {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #land_page {
    .page_left {
      .area_attention {
        .box_attention {
          .bg_home {
            .sun {
              width: 800px;
              height: 800px;
              right: -25%;
              top: 35%;
            }

            .bg_clean {
              height: 60%;
            }
          }

          .slogan1 {
            display: none;
          }

          .slogan2 {
            display: none;
          }

          .mobile_slogan {
            transform-origin: left bottom;
            transform: scale(1.5);
            display: block;
            position: absolute;
            top: 8vh;
            left: 5%;
          }

          .btn_freeStart {
            top: calc(8vh + 170px);

            .btn_start {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #land_page {
    .page_left {
      .area_attention {
        .box_attention {
          .bg_home {
            .sun {
              width: 680px;
              height: 680px;
              right: -20%;
              top: 35%;
            }

            .bg_clean {
              height: 55%;
            }
          }

          .slogan1 {
            top: 8vh;
            z-index: 5;
          }

          .slogan2 {
            top: 17vh;
            z-index: 5;
          }

          p {
            font-size: 3rem;
          }

          .btn_freeStart {
            top: 28vh;

            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #land_page {
    .page_left {
      .area_attention {
        .box_attention {
          .bg_home {
            .sun {
              width: 650px;
              height: 650px;
              right: -85%;
              top: 35%;
            }

            .bg_clean {
              height: 40%;
            }
          }

          .slogan1 {
            display: none;
          }

          .slogan2 {
            display: none;
          }

          .mobile_slogan {
            transform-origin: left bottom;
            transform: scale(1);
            display: block;
            position: absolute;
            top: 3vh;
            left: 12%;
          }

          .btn_freeStart {
            top: 26vh;

            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

//滾動改變顏色

.box_attention.change-bg-color-bg {
  background-color: #fd8f29 !important;
}

.sun.change-bg-color-sun {
  background-color: $color_gray3 !important;
}

.bar_top_home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_blue;
  height: 82px;
  // height: 10vh;
  padding: 20px;
}

.logo_home {
  img {
    width: 120px;
    height: 48px;
  }
}

/*置頂按鈕*/

.nav_home {
  .ul_home {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    padding: 5px 30px;
    gap: 0 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    background: rgba(236, 236, 236, 0.5);
    white-space: nowrap;

    li {
      font-size: 1rem;

      &:hover {
        font-weight: 500;
      }
    }
  }
}

/* 佔位置協助排版的空div */

.header_home {
  .empty_header {
    width: 0.55%;
  }
}

.login_home {
  height: 82px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*右側直立英文圖案*/

.page_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7%;
  background-color: $color_white;

  .bar_col {
    height: 92vh;
    // width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 600px) {
  .page_right {
    width: 12%;
    padding-left: 0;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .page_right {
    width: 20%;
    padding-left: 0;
    margin-left: 0;
  }
}

/*Main Area*/

/*About*/

#about {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // margin-top: 100vh; //如果front要設置成 relative : fixed時留空位

  .title_section_home {
    text-align: center;
    margin-bottom: 5vh;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    // line-height: 48px;
  }

  p {
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

/*Features*/

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .title_section_home {
    text-align: center;
    margin-bottom: 5vh;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    // line-height: 48px;
  }

  .box_feat {
    // display: flex;
    position: relative;
    height: 554px;
    width: 614px;
    // width: 100%;

    /* 讓box兩兩排列 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* 創建兩列 */
    grid-gap: 20px;

    .item_feat {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 297px;
      height: 267px;

      padding: 53px 25px;
      gap: 8px;
      border-radius: 20px;
      position: absolute;
      overflow: hidden;

      transition: 0.35s;
      cursor: pointer;

      h3 {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }

      p {
        position: relative;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      figure {
        position: absolute;
        right: -0.5%;
        bottom: -0.5%;
        transition: 0.35s;
        transform-origin: bottom right;
      }

      img {
        transition: 0.35s;
      }
    }

    // 四格箱子分別設定

    .box1 {
      background-color: #3d9d35;
      position: absolute;
      left: 0;
      top: 0;

      h3,
      p {
        color: white;
      }
    }

    /*第一格字體顏色不同另外設定*/

    .box2 {
      background-color: #ffdf06;
      left: 0;
      bottom: 0;
    }

    .box3 {
      background-color: #81e6fd;
      right: 0;
      top: 0;
    }

    .box4 {
      background-color: #b8eb35;
      right: 0;
      bottom: 0;
    }

    // 旅藤特點交互效果

    .box1:hover {
      height: calc(267px + 70px);
      background-color: $color_gray1;

      figure {
        transform: scale(1.5);
      }
    }

    .box1:hover~.box2 {
      transform-origin: bottom;
      height: calc(267px - 70px);

      img {
        opacity: 0;
      }
    }

    .box2:hover {
      height: calc(267px + 70px);

      figure {
        transform: scale(1.5);
      }
    }

    .box1.hovered {
      transform-origin: top;
      height: calc(267px - 70px);

      img {
        opacity: 0;
      }
    }

    .box3:hover {
      height: calc(267px + 70px);
      background-color: $color_gray2;

      figure {
        transform: scale(1.5);
      }
    }

    .box3:hover~.box4 {
      transform-origin: bottom;
      height: calc(267px - 70px);

      img {
        opacity: 0;
      }
    }

    .box4:hover {
      height: calc(267px + 70px);

      figure {
        transform: scale(1.5);
      }
    }

    .box3.hovered {
      transform-origin: top;
      height: calc(267px - 70px);

      img {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  #features {
    height: 150vh;

    .title_section_home {
      margin-bottom: -8vh;
    }

    .box_feat {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-template-columns: none;
      height: 100%;
      width: 297px;

      .item_feat {
        position: relative;
        height: 267px;
      }
    }
  }
}

/*How*/

#how {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100vh;

  .title_section_home {
    text-align: center;
    margin-bottom: 2.5vh;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
  }

  .btn_step {
    margin-bottom: 2.5vh;

    ul {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      white-space: nowrap;
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      border-radius: 15px;
      color: white;
      background-color: #3d9d35;
      text-decoration: none;
      transition: 0.35s;
    }
  }

  button.btn_step_active {
    background-color: $color_green2;
  }

  .guide {
    display: flex;
    width: 824px;
    // width: 60%;
    height: 494px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    .direction {
      display: flex;
      // position: relative;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      // border-radius: 20px;
      background: #f5f5f5;
      transition: transform 0.5s ease;

      h3 {
        position: absolute;
        top: 171px;
        left: 102px;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 33px;

        span{
        font-size: 4rem;
        }
      }

      p {
        position: absolute;
        top: 280px;
        left: 102px;
        width: 270px;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-align: left;
      }

      figure {
        width: 297px;
        height: 577px;
        flex-shrink: 0;
        position: absolute;
        right: 115px;
        top: 89px;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #how {
    .guide {
      width: 730px;

      .direction {
        justify-content: center;
        align-items: center;

        h3 {
          top: 12vh;
          left: 10%;
        }

        p {
          width: 30%;
          top: 18vh;
          left: 10%;
          text-align: left;
        }

        figure {
          width: 75%;
          height: 40vh;
          flex-shrink: 0;
          bottom: -8vh;
          right: -7%;
          top: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #how {
    .guide {
      width: 700px;

      .direction {
        h3 {
          top: 16vh;
          left: 10%;
        }

        p {
          top: 22vh;
          left: 10%;
          width: 30%;
          text-align: left;
        }

        figure {
          width: 80%;
          height: 40vh;
          flex-shrink: 0;
          bottom: -5vh;
          right: -7%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #how {
    .btn_step {
      width: 80%;
      // margin-left: 20%;
      overflow: hidden;
      padding: 0;

      ul {
        align-self: flex-start;
        justify-content: flex-start;
      }

      overflow-x: auto;
      /* 橫向溢出時顯示滾動條 */
      overflow-y: hidden;
      /* 隱藏垂直滾動條 */
      -webkit-overflow-scrolling: touch;

      /* IE and Edge */
      -ms-overflow-style: none;
      /* Firefox */
      scrollbar-width: none;

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .guide {
      width: 80%;
      height: 55vh;

      .direction {
        justify-content: center;
        align-items: center;

        h3 {
          top: 5vh;
          left: 10%;
        }

        p {
          width: 80%;
          top: 12vh;
          left: 10%;
          text-align: left;
        }

        figure {
          width: 80%;
          height: 40vh;
          flex-shrink: 0;
          bottom: -10vh;
          right: auto;
          top: auto;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #features {
    .title_section_home {
      margin-bottom: 8vh;
    }
  }
}

//切換區塊動畫效果

// .direction.active {
//     opacity: 1;
// }

// .slide-in-right {
//     transform: translateX(200%);
// }

// .slide-in-left {
//     transform: translateX(-200%);
// }

/*Footer*/

// footer {
//   display: flex;
//   flex-direction: column;
//   height: 15vh;
//   background: #f5f5f5;

//   a {
//     font-family: Noto Sans TC;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 160%;
//     color: $color_black;
//     white-space: nowrap;
//     margin-top: 5vh;
//   }
// }

// .btn_footer_upper,
// .btn_footer_lower {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .btn_footer_upper {
//   height: 30%;
//   margin-top: 24px;
//   gap: 10%;
// }

// .btn_footer_lower {
//   height: 30%;
//   margin-top: 12px;
//   // margin-bottom: 24px;
//   gap: 20%;
// }

// ===================
footer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height: 15vh;
  background: #f5f5f5;
  @include center;

  .btn_footer_lower {
    @include center;

    a {
      text-decoration: underline;
      font-size: 16px;
    }

    a,
    p {
      font-size: 16px;

      @media screen and (max-width: 850px) {
        font-size: 12px;
      }
    }



  }
}