@import "../../../assets/scssRule/rule";
@import "../../../assets/scssRule/all";
@import "../../../assets/scssRule/reset";

.main_collections {
  display: flex;
  justify-content: center;
}

.area_search_collections {
  margin-top: 8vh;
  height: 17vh;
  /* 100vh表示剛好一個視窗高，會自動彈性符合 */
  display: flex;
  /*轉變後預設主軸方向變為水平*/
  flex-direction: column;
  /*轉變主軸方向為垂直*/
  align-items: center;
  /*副軸(水平)置中*/
  /* justify-content: center; */
  /*主軸(垂直)置中*/
  width: 100%;
  /* gap: 3.2vh; */
}

/*Nav*/

.bar_top_collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  padding: 20px;
  height: 10vh;
}

.nav_collections {
  ul {
    background-color: $color_gray2;
    display: flex;
    width: 274px;
    height: 32px;

    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;

    border-radius: 50px;
    flex: 1;

    li {
      a {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }
}

/*搜尋列*/

.search_collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  height: 24vh;

  .bar_search_collections {
    display: flex;
    padding: 8px 12px;
    gap: 4px;
    background-color: $color-white;
    width: 460px;
    height: 36px;

    border-radius: 6px;
    justify-content: space-between;
    border: 1px solid $color_gray2;
    align-items: center;

    input {
      overflow: hidden;
      color: $color-black;

      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Noto Sans TC;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      &::placeholder {
        color: $color_gray2;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
    div {
      display: flex;
      img {
        margin: 4px;
      }
      a {
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 8.951px;

        border-radius: 17.902px;
        background: $color_yellow;

        font-family: Noto Sans TC;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
    }
  }
}

/*協助對齊用*/

.assist {
  width: 110px;
}

/*地點標籤*/

.locate {
  ul {
    display: flex;
    gap: 10px;

    li {

      a{
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        color: white;
        background-color: #3d9d35;
      
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }
}


/*選擇區*/

.area_category {
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;

  .box_category {
    width: 980px;

    .category {
      ul {
        display: flex;

        li {
          font-family: Noto Sans TC;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;

          padding: 8px 20px;
          border-bottom: 2px solid $color_gray2;
          
          white-space: nowrap;

          display: inline-block;
          text-align: center;
          transition: 0.35s ease-in-out;
          cursor: pointer;
          button {
            text-decoration: none;
            color: $color_gray2;
          }
        }
      }
    }
  }
}

.eat_category.active {
  border-bottom: 2px solid $color_black !important;
  button {
    color: $color_black!important;
  }
}
.accommodation_category.active {
  border-bottom: 2px solid $color_black!important;
  button {
    color: $color_black!important;
  }
}
.fun_category.active {
  border-bottom: 2px solid $color_black!important;
  button {
    color: $color_black!important;
  }
}

/* 收藏區 */

/*瀑布流內容設定*/

// -------Carousel.jsx
.box_carousel_collections {
  display: flex;
  position: relative;
  justify-content: center;

  width: 1060px;
  overflow: hidden;
  gap: 2%;

  .box_turn {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px;
    border-radius: $border_radius_20px;
    box-sizing: border-box;
    transition: 0.35s ease;
    flex-shrink: 0;

    margin: 0 -540px;

    .area_collections {
      display: none;
    }

    .search_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 12px;

      .item_carousel {
        h3 {
          display: flex;
          padding: 0px 30px;
          justify-content: center;
          align-items: center;

          border-radius: 20px 0px;
          height: 36px;

          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }

        p {
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          /* 22.4px */

          margin-top: 10px;
        }
      }
    }

    .wrapper {
      width: 980px;
      height: auto;

      #card_container {
        position: relative;
        @include size(100%, auto);
      }
    }

    .wrapper * {
      transition-property: all !important;
      /* 這裡會寫important是因為Masonry載入時，會動態給.card_search一個property設定，
            並且是某些才給，無法找到規律，且因為是動態所以試過許多方法都無法覆蓋，因其設定會導致
            transition無法正確運行，故用important覆蓋 */
    }
  }
}

// -------FixedBtn.jsx
.btn_fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 15vh;
  transition: 0.35s;
  z-index: 999;

  ul {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 50px;
    background: $color-white;
    //--------Ralph
    // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    //--------Jenny
    @include shadow;

    //Trash Can---

    .trash_can {
      position: relative;
      cursor: pointer;
      transform: scale(0.65);

      .lid {
        position: relative;
        top: 2px;
        width: 24px;
        height: 6px;
        background: white;
        border: solid 2px rgb(100, 100, 100);
        transition: all 0.2s ease-in-out;
        transform-origin: left;
        transform: rotate(0deg) translateY(0px);

        &:before,
        &:after {
          content: "";
          position: absolute;
        }

        &:before {
          width: 10px;
          height: 5px;
          top: -5px;
          left: 5px;
          background: rgb(100, 100, 100);
        }

        &:after {
          width: 6px;
          height: 4px;
          top: -3px;
          left: 7px;
          background: white;
        }
      }

      .can {
        position: relative;
        left: 2px;
        width: 20px;
        height: 20px;
        background: white;
        border: solid 2px rgb(100, 100, 100);
        border-radius: 0 0 3px 3px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          box-shadow: 4px 5px 0px 1px rgb(100, 100, 100),
            4px 7px 0px 1px rgb(100, 100, 100),
            4px 9px 0px 1px rgb(100, 100, 100),
            4px 11px 0px 1px rgb(100, 100, 100),
            4px 13px 0px 1px rgb(100, 100, 100),
            8px 5px 0px 1px rgb(100, 100, 100),
            8px 7px 0px 1px rgb(100, 100, 100),
            8px 9px 0px 1px rgb(100, 100, 100),
            8px 11px 0px 1px rgb(100, 100, 100),
            8px 13px 0px 1px rgb(100, 100, 100),
            // 12px 5px 0px 1px rgb(100, 100, 100),
            // 12px 7px 0px 1px rgb(100, 100, 100),
            // 12px 9px 0px 1px rgb(100, 100, 100),
            // 12px 11px 0px 1px rgb(100, 100, 100),
            // 12px 13px 0px 1px rgb(100, 100, 100);
        }
      }

      //   span {
      //     position: absolute;
      //     background: rgb(100, 100, 100);
      //     color: white;
      //     font: normal 10px/15px Arial;
      //     padding: 2px 4px;
      //     border-radius: 2px;
      //     left: -6px;
      //     bottom: 0px;
      //     opacity: 0;
      //     z-index: -1;
      //     transition: all 0.4s ease 0.4s;
      //   }

      &:hover .lid {
        transform: rotate(-30deg) translateY(-2px);
      }
      &:hover span {
        bottom: -22px;
        opacity: 1;
      }
    }

    //Trash Can 結束---

    .myJour_collections {
      //--------Ralph
      // color: #FFF;
      // font-family: Noto Sans TC;
      // font-size: 16px;
      // font-style: normal;
      // font-weight: 500;
      // line-height: 160%;
      // /* 25.6px */

      // padding: 8px 16px;
      // justify-content: center;
      // align-items: center;

      // border-radius: 20px;
      // background: #3D9D35;
      // transition: 0.35s;

      // transform-origin: bottom;
      // white-space: nowrap;

      //--------Jenny

      display: flex;
      justify-content: center;
      justify-content: center;
      text-align: center;

      button {
        text-decoration: none;
        @include text_btn_big;
        padding: 8px 16px;
      }

      &:focus {
        background-color: $color_green3;
        color: $color-black;
      }
    }
  }
}
