@import "../../../assets/scssRule/rule";
@import "../../../assets/scssRule/all";
// ===============================================

.bg_card_set {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card_set_journey {
  width: 850px;
  height: 611px;

  padding: 40px 50px;

  display: flex;
  border-radius: 20px;
  background-color: white;

  position: relative;

  .box_set_item {
    margin-left: 69px;
    width: 100%;

    //頂部轉換按鈕
    .box_btn_switch_set_journey {
      display: flex;
      margin-bottom: 37px;

      ul {
        display: flex;

        li {
          list-style: none;
          cursor: pointer;
          padding: 10px 21px;
          color: $color_gray2;
          border-bottom: 2.5px $color_gray2 solid;

          font-family: Noto Sans TC, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;

          transition: 0.35s ease-in-out;
        }
      }
    }

    //當前按鈕變為黑色

    .btn_switch_set_journey.active {
      color: $color_black;
      border-bottom: 2.5px $color_black solid;
      animation: colorTransition .35s ease-in-out;
    }

    .btn_switch_add_journey.active {
      color: $color_black;
      border-bottom: 2.5px $color_black solid;
      animation: colorTransition .35s ease-in-out;
    }

    @keyframes colorTransition {
      0% {
        color: $color_gray2;
        border-bottom: 2.5px $color_gray2 solid;
      }

      25% {
        color: linear-gradient(to right, $color_gray2, $color_black);
        border-bottom: 2.5px linear-gradient(to right, $color_gray2, $color_black) solid;
      }

      75% {
        color: linear-gradient(to right, $color_black, $color_gray2);
        border-bottom: 2.5px linear-gradient(to right, $color_black, $color_gray2) solid;
      }

      100% {
        color: $color_black;
        border-bottom: 2.5px $color_black solid;
      }
    }



    .carousel_set_journey {
      display: flex;
      width: 100%;
      height: 85%;
      position: relative;
      overflow: hidden;

      //建立行程頁面
      .box_switch_set_journey {
        //影響到轉場的流暢度
        width: 100%;
        position: absolute;
        left: 0;


        .title_set_journey {
          font-family: Noto Sans TC, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;

          margin-bottom: 37px;
        }

        .name_editable {
          border: 1px solid transparent;
          width: 200px;
          min-height: 20px;

          font-family: Noto Sans TC, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          color: black;
          letter-spacing: 0.1rem;

          margin-bottom: 37px;
        }

        .name_editable_input {
          border: 1px solid transparent;
          width: 200px;
          min-height: 20px;

          font-family: Noto Sans TC, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          color: black;

          margin-bottom: 37px;
        }

        .placeholder {
          color: #c0c0c0; // 只有當顯示「未命名」提示時使用這個顏色
        }

        .date_set {
          display: flex;
          flex-direction: column;
          margin-bottom: 37px;

          .title_date {
            font-family: Noto Sans TC, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            color: black;

            margin-bottom: 5px;
          }

          .datePicker {
            border: 2px solid #bdbdbd;
            width: 225px;

            display: flex;
            justify-content: flex-start;

            padding: 16.5px 25px;
            border-radius: 10px;

            font-family: Noto Sans TC, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            // line-height: 150%;
            line-height: 24px;
            color: #4f4f4f;
            text-decoration: none;
            cursor: pointer;

            &::placeholder {
              color: #4f4f4f;
              font-family: Noto Sans TC, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
          }
        }

        .content_set_journey {
          color: #000000;
          font-family: Noto Sans TC, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

      // 加入行程頁面

      .box_switch_add_journey {
        width: 100%;
        position: absolute;
        left: 0;

        .content_notyet {
          width: 100%;
          height: 275px;
          background-color: #3d9d35;
          flex-shrink: 0;
        }
      }
    }
  }
}

//頁面滑動效果設定 

.box_switch_set_journey,
.box_switch_add_journey {
  transition: 0.35s ease;
}

.box_switch_set_journey {
  transform: translateX(-100%);
}

.box_switch_set_journey.active {
  transform: translateX(0);
}

.box_switch_add_journey {
  transform: translateX(100%);
}

.box_switch_add_journey.active {
  transform: translateX(0);
}



/* 佔位元素 */

.empty_set_journey {
  width: 170px;
}

/* 刪除按鈕 */

.btn_cancel {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

/* 加入行程按鈕 */

/* 取消按钮样式重置 */
button {
  background: none;
  border: none;
  cursor: pointer;
  /* 可以根據需要添加其他樣式，比如字體大小、字體加粗等 */
}

.btn_set {
  height: auto;
}

.journey {
  display: none;
  background-color: #3d9d35;
  color: white;

  /* width: 26%; */
  padding: 10px 20px;
  border-radius: 20px;

  font-family: Noto Sans TC, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;

  position: absolute;
  right: 30px;
  bottom: 40px;
  transition: .35s ease-in-out;
}

.btn_set.journey.set.active {
  display: flex;
}

.btn_set.journey.add.active {
  display: flex;
}

/* 打開燈箱時，禁止網頁卷軸滾動 */
.no-scroll {
  overflow: hidden;
  height: 100%;
  padding-right: 16px;
}