@use '../CSS/reset'as *;

.bg_card_set {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.card_set_journey {
    width: 850px;
    height: 611px;

    padding: 40px 50px;

    display: flex;
    border-radius: 20px;
    background-color: white;
    /**/
    border: 1px red solid;
    /**/
}
