@import "../../../../assets/scssRule/all.scss";
@import "../../../../assets/scssRule/rule.scss";

// ====================================

.spottag{
    padding: 2.5px 13px;
    display: inline-block;

    border-radius: 5px;
    background-color: #FFDF06;
    color: 333333;

    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #828282;
}