@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
}

/* ------------------------字型對照 */
.day_select {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #929292;
    /* 设置所有的 <h2> 初始为灰色 */
}

.day_font:hover {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: black;
    /* 设置所有的 <h2> 初始为灰色 */
}

.date .day_font:first-child {
    color: #000;
    /* 第一个 <h2> 设置为黑色 */
}

.h3_title {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.btnAddSpotTitle .h3_title {
    color: var(--black2, #333);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}



.time,
.adviseTime {
    color: #000000;
    opacity: 0.5;
}

/* ---------icon 對照----------------------------------- */
.set_icon {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #3d9d35;
    border-radius: 30px;
    color: #fff;

    cursor: pointer;
}

/* 加一天減一天 */
.icon_day {
    /* width: 12px;
    height: 12px; */
    padding: 5px 5px;
    display: flex;
    align-items: center;
    background-color: #3d9d35;
    border-radius: 20px;
    color: #fff;
}


.icon-add-color {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 20px;
}

.icon-car,
.icon-love,
.icon-search{
    font-size: 20px;
}

.icon-car {
    color: #333333;
}

.loc-delete,
.icon-drag_indicator,
.icon-exchange {
    font-size: 20px;
    color: #333333;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.loc-delete:hover,
.icon-drag_indicator:hover,
.icon-exchange:hover {
    color: #333333;
    opacity: 1;
}







/* ---------正文----------------------------------- */
.Schedule_container {
    margin: 20px 9%;
    display: flex;
    flex-direction: column;
}



/* 行程表頭 */
.tripHead {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 行程表名稱+日期 */
.tripTitle {
    display: flex;
    flex-direction: column;
}

/* 功能按鈕 */
.tripFunc {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    z-index: 20;
}

.tripFunc a {
    text-decoration: none;
}

.icon-luggage,
.icon-map {
    font-size: 20px;
}

.tripItem {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #3d9d35;
    border-radius: 20px;
    color: #fff;

    cursor: pointer;
}

.tripItem:hover {
    background-color: #8eb91f;
    transition: 1s;
}

.tripItem:hover p {
    color: #000000;
    transition: 1s;
}

/* .tripItem:hover .icon-luggage {
    color: #000000;
    transition: 1s;
} */

.set_icon:hover {
    background-color: #8eb91f;
    color: #333;
    transition: 0.3s;
}

/* .set_icon:hover .icon-map {
    color: #000000;
    transition: 1s;
} */

/* 行程天數列 */
.Schedule_date {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn_day-wrap {
    margin: 0px 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn_day {
    padding: 8px 20px;
    display: flex;
    align-items: center;

    border-bottom: solid;
    border-color: #929292;

    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #929292;
    /* 设置所有的 <h2> 初始为灰色 */
    cursor: pointer;
}

.btn_day:hover {
    color: black;
    /* 设置所有的 <h2> 初始为灰色 */
    border-bottom: solid;
    border-color: black;
}

.Schedule_date .btn_day:first-child {
    color: black;
    border-color: black;
}

.dateControl {
    display: flex;
    padding: 0 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}





.icon_day:hover {
    background-color: #8eb91f;
}

/* 行程表外框 */

/* main {
    display: flex;
    flex-direction: column;
} */

/* .content {
    display: flex;
    max-width: 100%;
    padding: 20px 0;
} */

/* 行程表內容 */
.scheduleList {
    margin: 50px 0px;
    gap: 0 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 行程表一 */
.schedule {
    width: 440px;
    padding: 40px 30px 40px 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    border: none;
    border-radius: 20px;
    background: var(--gray-light, #f5f5f5);

    position: relative;
    justify-content: center;
}





.schedule_map_list {
    width: 30%;
    padding: 16px 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    /* border: solid black; */
    border-radius: 20px;
    background: var(--gray-light, #f5f5f5);

    position: relative;
}

.schedule_map {
    width: 100%;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    /* border: solid black; */
    border-radius: 20px;
    background: var(--gray-light, #f5f5f5);

    position: relative;
}

.btn-day-control {
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-day-control:hover {
    background-color: #d9d9d9;
}

/* 星期N */
.schedule_day {
    padding: 8px 20px;
    display: flex;
    align-items: center;

    position: absolute;
    top: -19px;
    left: 22px;

    color: #fff;
    line-height: 160%;
    background-color: #3d9d35;
    border-radius: 10px;
    /* position: absolute;
    top: -23px;
    left: 20px; */
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/* 備註  */
.note {
    padding: 0 8%;
    /* background-color: gray; */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 景點列表 */
.spotList {
    display: flex;
    margin: 8px 0;
    flex-direction: column;
    gap: 8px;
}

/* 第一個行程 */
.spot {
    display: flex;
    overflow: hidden;
}

/* 左側功能列 */
.leftFunc {
    width: 8%;
    /* padding: 3px; */
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

/* 釘選 */
/* 替換 */
/* 右側景點資訊 */
.info {
    width: 92%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    position: relative;

    border-radius: 14px;
    background: var(--white, #fff);

    overflow: hidden;
}

/* 序號 */
.num {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    /* padding: 5px 10px; */
    border-radius: 10px;

    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 圖片 */
.pic {
    width: 36%;
    /* 讓 figure 佔滿父元素的寬度 */
    height: 100%;
    /* 讓 figure 佔滿父元素的高度 */
    overflow: hidden;
    /* 隱藏超出 figure 的內容 */
}

.pic img {
    width: 100%;
    /* 讓圖片寬度填滿 figure */
    height: 100%;
    /* 讓圖片高度填滿 figure */
    object-fit: cover;
    /* 讓圖片填滿整個容器，保持比例 */
}

/* 景點名稱相關資訊 */
.spotInfo {
    width: 64%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.loc-delete {
    position: absolute;
    top: 14px;
    right: 14px;
}

/* 景點時間抬頭 */
.spotTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 圖標時間集合 */
.iconTime {
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.icon {
    display: flex;
}

/* 景點圖標 */
/* 到達時間 */
.time {
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
}

/* 刪除鍵 */
/* 地點名稱 */
.spotName {
    display: flex;
    align-items: center;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.spotName_Fuc {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 建議停留時間 */
.adviseTime {
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



/* 按鈕_回到收藏/回到探索 */
.btn_addspot-wrap {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 35px;
}

.btn_addspot {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--white, #fff);
}

.btnAddSpotTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* 頁尾 */
.footer {
    height: 80px;
    /* padding: 20px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 40px;
    background-color: #b8eb35;
}

.footerItem {
    padding: 30px 0px;
    display: flex;
    gap: 0 60px;
}

.z-index-l {
    z-index: 999;
}

.icon-back {
    color: #000;
}

.btn-add-control{
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-add-control:hover {
    background-color: #d9d9d9;
}



.LB-container {
    position: relative;
    /* z-index: 1000; 設置一個足夠高的值 */
    
    padding: 0px;
}