@use '../CSS/reset'as *;


.bg_card_relevant {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;



}

.card_relevant {
    width: 850px;
    height: 611px;

    padding: 40px 50px;

    display: flex;
    border-radius: 20px;
    background-color: white;
    /**/
    border: 1px red solid;
    /**/


    .view_relevant {
        display: flex;
        flex-direction: column;
        padding-left: 69px;

        .title_relevant {
            display: flex;
            align-items: center;

            font-family: Noto Sans TC, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;

            .tags_relevant {
                font-family: Noto Sans TC, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                // line-height: 150%;
                line-height: 24px;


                padding: 0 12px;
                background-color: #FFDF06;
                border-radius: 5px;
                margin-left: 14px;
                &:last-child{
                    margin-right: 14px;
                }
            }
        }
    }
}