@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";

// ====================================

.MyTrip-container {
    margin: 0px 14%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 991px) {
        .MyTrip-container {
            /* max-width: 100%; */
            padding: 0 20px;
        }
    }

    .MyTrip-content {
        display: flex;
        flex-direction: column;
        margin: 120px 0px;
        gap: 35px;

        @media (max-width: 991px) {
            .MyTrip-content {
                /* max-width: 100%; */
                margin: 40px 10px 40px 0;
            }
        }

        .title {
            justify-content: space-between;
            align-items: center;
            display: flex;
            width: 100%;
            @media (max-width: 991px) {
                .title {
                    max-width: 100%;
                    flex-wrap: wrap;
                }
            }

            a {
                text-decoration: none;

                div {
                    color: var(--white, #fff);
                    font-family: Noto Sans TC;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }
            }
            .title-name {
                color: var(--black1, #000);
                font-family: Noto Sans TC;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
            .btn-add-wrap {
                display: flex;
                flex-direction: row;
                gap: 10px;

                &:hover{
                    .icon-add-map,
                    .text-add{
                        color: #333;
                    }
                }

                .icon-add {
                    color: white;
                    font-size: 20px;
                }
                .text-add {
                    color: var(--white, #fff);
                    font-family: "Noto Sans TC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 24px */
                }
            }
        }
        .MyTrip_contain {
            gap: 30px;

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            align-items: center;
            @media (max-width: 991px) {
                .MyTrip_contain {
                    max-width: 100%;
                    padding-right: 20px;
                }
            }
        }
    }
}
