@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";

// ======================= RWD ==========================
// Extea small devices(phones, 600px and down)
@media only screen and (max-width: 600px) {
  .MyTrip-container {
    margin: 0 !important;
    padding: 0 16px;
    margin-top: 8vh !important;


    .MyTrip-content {
      margin: 5vh 0px !important;

      .title {
        max-width: 100%;
        flex-wrap: wrap;
      }

      .MyTrip_contain {
        max-width: 100%;
        // padding-right: 20px;
      }
    }
  }
}

// Medium devices(landscape tablets, 768px and up)
@media only screen and (min-width: 850px) {
  .MyTrip-container {
    margin-top: 8vh !important;

    .MyTrip-content {
      margin: 10% 0px !important;
    }
  }
}

// Extea large devices(large laptops/desktop, 1200px and up)
@media only screen and (min-width: 1200px) {
  .MyTrip-container {
    .MyTrip-content {
      margin: 120px 0px !important;
      margin-top: 8vh !important;

      .title {
        padding-right: 30px;
      }
    }
  }
}

// ====================================

.MyTrip-container {
  margin-top: 8vh;
  margin: 0px 14%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .MyTrip-content {
    display: flex;
    flex-direction: column;
    margin: 120px 0px;
    gap: 35px;

    .title {
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;

      a {
        text-decoration: none;

        div {
          color: var(--white, #fff);
          font-family: Noto Sans TC;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }

      .title-name {
        color: var(--black1, #000);
        font-family: Noto Sans TC;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      .btn-add-wrap {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &:hover {
          .icon-add-map,
          .text-add {
            color: #333;
          }
        }

        .icon-add {
          color: white;
          font-size: 20px;
        }

        .text-add {
          color: var(--white, #fff);
          font-family: "Noto Sans TC";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          /* 24px */
        }
      }
    }

    .MyTrip_contain {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 30px;
      flex-direction: row;
    }
  }
}
