
@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";

// ======================================================

* {
  font-family: 'Noto Sans TC', 微軟正黑體;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.Showlogin-box {
  background-color: white;
  width: 126px;
  @include shadow;
  border-radius: $border_radius_20px;
  @include itemCenter;
  justify-content: center;
  gap: 16px;
  z-index: 999;
  
  figure {
    height: 48px;
    width: 48px;
    background-color: $color_yellow;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 0px;

    img {
      width: 100%;
    }

  }

  p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;

    .icon-log-out {
      font-weight: 600;
      @include size(20px, 20px);
      margin-right: 5px;
    }
  }
  p.in{
    &:hover{
      font-weight: 600;
    }
  }

  .menu {
    margin: 0;
    padding: 1rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    display: none;

    li {
      gap: 10px;
      padding: 10px;
      padding-bottom: 0px;
      text-decoration: none;

      &:hover {
        font-weight: 600;
        padding-bottom: 0px;
        text-decoration: $color_green1 wavy underline;

      }

    }
    @media (max-width: 809px) {
      display: block;
    }
  }

}