@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap');

$color_black: #333333;
$border_radius_20px: 20px;
$color_green1: #3D9D35;
$color_yellow: #FFDF06;

@mixin shadow {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

@mixin itemCenter {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}


// @use "../../assets/scssRule/index";
// ======================================================

* {
  font-family: 'Noto Sans TC', 微軟正黑體;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }
}

.Showlogin-box {
  background-color: white;
  width: 126px;
  @include shadow;
  border-radius: $border_radius_20px;
  @include itemCenter;
  justify-content: center;
  gap: 16px;

  figure {
    height: 48px;
    width: 48px;
    background-color: $color_yellow;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 0px;

    img {
      width: 100%;
    }

  }

  p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;

    .icon-log-out {
      font-weight: 600;
      @include size(20px, 20px);
      margin-right: 5px;
    }
  }

  .menu {
    margin: 0;
    padding: 1rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    li {
      gap: 10px;
      padding: 10px;
      padding-bottom: 0px;
      text-decoration: none;

      &:hover {
        font-weight: 600;
        padding-bottom: 0px;
        text-decoration: $color_green1 wavy underline;

      }

    }

  }

}