@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

.lightboxEX-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.lightboxEX-overlay .lightboxEX-container {
  background-color: white;
  width: 625px;
  padding: 40px 38px 40px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: lightbox-fade-in 0.5s ease, slide-from-center 0.5s ease; /* 新增滑入效果 */
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX {
  width: 100%;
  max-height: 350px; /* 設定最大高度為850px，超過部分將出現卷軸 */
  overflow-y: auto; /* 超過最大高度時顯示垂直卷軸 */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  /* 消除卷軸樣式 */
  /* 卷軸寬度width */
  /* 卷軸高度的底色(軌跡底色)Track */
  /* 卷軸控制塊 Handle */
  /* 卷軸控制塊 Handle on hover */
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX::-webkit-scrollbar {
  width: 3px;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  /* 卷軸圓角 */
  margin: 65px 40px 45px 10px;
  /* 卷軸位置 */
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX .content_spottag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 12px;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX .content_spottag .spottag_title {
  margin: 0;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  color: #333333;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX .content_spottag .spottag_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 12px;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX .cardEX_wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.lightboxEX-overlay .lightboxEX-container .scrollerEX .cardEX_wrap .card_col {
  display: flex;
  flex-direction: column;
}
.lightboxEX-overlay .lightboxEX-container .btn-close-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  right: 30px;
  cursor: pointer;
}
.lightboxEX-overlay .lightboxEX-container .btn-close-wrap .icon-close {
  color: #d9d9d9;
}
.lightboxEX-overlay .lightboxEX-container .btn-close-wrap .icon-close:hover {
  color: #333333;
}
.lightboxEX-overlay .lightboxEX-container .btn-close-wrap .icon-close:active {
  color: #333333;
}
.lightboxEX-overlay .lightboxEX-container .btn-check-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  right: 30px;
}

/* 動畫 */
@keyframes lightbox-fade-in {
  from {
    transform: translateY(-10%); /* 調整起始位置 */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-from-center {
  from {
    transform: translateY(-10%); /* 調整起始位置 */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* 新增的部分 */
.fade-out {
  animation: fade-out 0.5s ease forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* 新增的部分 */
.slide-up-and-fade-out {
  animation: slide-up-and-fade-out 0.5s ease forwards;
}

@keyframes slide-up-and-fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}/*# sourceMappingURL=LightboxExchange.css.map */