@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
}

/* ------------------------------------------------------------------- */
.lightbox-c-green,
.lightbox-c-green-yes,
.lightbox-c-green-yes span {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #3d9d35;

    cursor: pointer;
    transition: 0.3s;

    border-color: transparent;
    line-height: 1;
}

.lightbox-c-green:hover,
.lightbox-c-green-yes:hover{
    color: #333333;
    background-color: #b8eb35;
}

.lightbox-c-green-yes {
    gap: 10px;
}

.lightbox-c-white {
    color: #d9d9d9;
}

.lightbox-c-green {
    font-family: "Noto Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}
