@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
}

/* ------------------------------------------------------------------- */
.buttoncancel,
.buttoncancel-yes,
.buttoncancel-yes span {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    color: #929292;
    background-color: #ffffff;

    cursor: pointer;
    transition: 0.3s;

    border-color: transparent;
    line-height: 1;
}

.buttoncancel:hover,
.buttoncancel:hover{
    color: #E7E7E7;
    background-color: #ffffff;
}

.buttoncancel-yes {
    gap: 10px;
}

.buttoncancel{
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
