@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #333333;
}

* {
  font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #333;
}

.Showlogin-box {
  background-color: white;
  width: 126px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 16px;
}
.Showlogin-box figure {
  height: 48px;
  width: 48px;
  background-color: #FFDF06;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.Showlogin-box figure img {
  width: 100%;
}
.Showlogin-box p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 20px;
}
.Showlogin-box p .icon-log-out {
  font-weight: 600;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.Showlogin-box p.in:hover {
  font-weight: 600;
}
.Showlogin-box .menu {
  margin: 0;
  padding: 1rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.Showlogin-box .menu li {
  gap: 10px;
  padding: 10px;
  padding-bottom: 0px;
  text-decoration: none;
}
.Showlogin-box .menu li:hover {
  font-weight: 600;
  padding-bottom: 0px;
  text-decoration: #3D9D35 wavy underline;
}