@import "../../../assets/scssRule/rule";
@import "../../../assets/scssRule/all";
@import "../../../assets/scssRule/reset";

// ==================Search================

// -------search.jsx
.main_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// -------HeaderSearch.jsx

// ----------------------------
.search {
  display: flex;
  flex-direction: column;
  background-color: $color-green1;
  align-items: center;
  border-radius: 0px 0px 50px 50px;
  height: 220px;
  padding-top: 42.5px;

  * a {
    color: black;
  }

  .bar_search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 12px;
    gap: 4px;
    background-color: $color-white;
    width: 460px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .btn_commit_search {
      cursor: pointer;
    }

    input {
      overflow: hidden;
      color: $color-black;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      &::placeholder {
        color: $color_gray2;
      }
    }

    img {
      @include size(20px, 20px);
    }

    div {
      display: flex;

      img {
        margin: 4px;
      }

      button {
        //---Ralph的
        // padding: 4px 16px;
        // justify-content: center;
        // align-items: center;
        // gap: 8.951px;

        // border-radius: 17.902px;
        // background: $color_yellow;

        // font-size: 14px;
        // font-style: normal;
        // font-weight: 500;
        // line-height: 160%;

        //--Jenny的
        @include text_btn_middle;
        background: $color_yellow;
        color: $color-black;
        padding: 4px 16px;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width:600px){
  .bar_search {
    width: 90% !important;
    padding: 8px 8px !important;
  }
} 
// -------NavBar.jsx
.nav_search {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 5px 30px;
    gap: 0 2rem;

    border-radius: $border_radius_20px;
    background-color: $color-white;
    white-space: nowrap;
  }

  li {
    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      /*網頁上600看起來跟figma上400一樣*/
      line-height: 160%;
    }
  }
}

// -------LoginBtn_home.jsx
//可import原先的css檔案，若有需要再建新的檔案覆蓋原先的css

// -------Recommends.jsx
.recommend {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    width: 460px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  a {
    border-radius: $border_radius_10px;
    background: $color-white;

    padding: 2px 20px;
    @include center;

    @include h2_body;
    line-height: 160%;
    white-space: nowrap;

    &:focus {
      background-color: $color-black;
      color: $color-white;
    }
  }
}

@media (max-width:600px){
  .recommend {

    ul {
      width: 90% !important;
      a {
        padding: 2px 10px !important;
      }
    }
  }
} 

// -------Carousel.jsx
.box_carousel {
  // display: flex;
  position: relative;

  width: 100%;
  overflow: hidden;
  gap: 2%;

  .box_turn {
    background-color: $color_gray3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px;
    border-radius: $border_radius_20px;
    box-sizing: border-box;
    transition: 0.5s ease;
    flex-shrink: 0;

    scale: 0.97;
    margin: 10vh -494px;

    .search_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 12px;

      .item_carousel {
        ul {
          padding: 0;
        }

        h3 {
          display: flex;
          padding: 0px 30px;
          justify-content: center;
          align-items: center;

          border-radius: 20px 0px;
          height: 36px;

          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }

        p {
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          /* 22.4px */

          margin-top: 10px;
        }
      }
    }

    .wrapper {
      width: 980px;
      height: auto;

      #card_container {
        position: relative;
        @include size(100%, auto);
      }
    }

    .wrapper * {
      transition-property: all !important;
      /* 這裡會寫important是因為Masonry載入時，會動態給.card_search一個property設定，
            並且是某些才給，無法找到規律，且因為是動態所以試過許多方法都無法覆蓋，因其設定會導致
            transition無法正確運行，故用important覆蓋 */
    }
  }

  .eat {
    .item_carousel {
      h3 {
        background: $color_yellow;
      }
    }
  }

  .accommodation {
    .item_carousel {
      h3 {
        background-color: $color_blue;
        color: $color_white;
      }
    }
  }

  .fun {
    .item_carousel {
      h3 {
        background-color: $color_green1;
        color: $color_white;
      }
    }
  }
}

.box_carousel {
  .box_turn.fun.current {
    scale: 1;
  }

  .box_turn.accommodation.current {
    scale: 1;
  }

  .box_turn.eat.current {
    scale: 1;
  }
}

// -------Tags_carousel.jsx
.tag_turn {
  ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;

    a {
      @include h2_body;
      color: $color_black;
      line-height: 160%;
      padding: 2px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: $border_radius_10px;
      background: $color-white;
      margin-right: 8px;

      &:active {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }
}

// -------FixedBtn.jsx
.btn_fixed {
  position: fixed;
  bottom: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: 0.35s;
  z-index: 999;

  ul {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 50px;
    background: $color-white;
    //--------Ralph
    // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    //--------Jenny
    @include shadow;
  }

  .arrowLeft,
  .arrowRight {
    // @include size(20px, 20px);
    font-size: 16px;
    transition: 0.35s;
  }

  .myJour {
    //--------Ralph
    // color: #FFF;
    // font-family: Noto Sans TC;
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 160%;
    // /* 25.6px */

    // padding: 8px 16px;
    // justify-content: center;
    // align-items: center;

    // border-radius: 20px;
    // background: #3D9D35;
    // transition: 0.35s;

    // transform-origin: bottom;
    // white-space: nowrap;

    //--------Jenny

    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;

    button {
      text-decoration: none;
      @include text_btn_big;
      padding: 8px 16px;
      white-space: nowrap;
    }

    &:focus {
      background-color: $color_green3;
      color: $color-black;
    }
  }
}

// -------Card.jsx
.card_search * {
  user-select: none;
}

.card_search {
  //---Ralph
  // width: 230px;
  // height: auto;
  //---Jenny
  @include size(230px, auto);
  background-color: $color-white;
  border-radius: $border_radius_20px;
  overflow: hidden;
  margin-bottom: 20px;

  cursor: pointer;
  position: absolute;
  /* left、top交給Masonry套件去設定給予 */

  box-shadow: 0px 0px 10px 2px transparent;
  transition: box-shadow 0.35s, transform 0.35s;

  /* js套件自動設定，改為預設才能正常顯示transition */
  figure {
    overflow: hidden;
    object-fit: cover;
    border-radius: $border_radius_20px;

    img {
      width: 100%;
      display: block;
      border-radius: $border_radius_20px; //--J 外面設了hidden 裡面是否保留
      transition: 0.35s;

      &:hover {
        cursor: pointer;
        transform: scale(110%);
      }
    }
  }

  //標題
  .card_search_info {
    padding: 12px;

    .card_title {
      @include h1_body;
      line-height: 150%;
      margin-bottom: 6px;

      //文字只顯示2行
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* 顯示的行數 */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .evaluate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include h3_body;
      margin-bottom: 6px;

      .evaluate_left {
        display: flex;

        img {
          @include size(14px, 14px);
        }
      }
    }

    .evaluate figure,
    .address figure,
    .link figure {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    a {
      color: $color_black;
    }
  }

  .dot_card {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    text-align: center;
    line-height: 20px;
    /* 使文字垂直居中 */
    cursor: pointer;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card_search.selected {
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.1), 0 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.dot {
  //圓點
  position: absolute;
  top: 15px;
  right: 15px;
  //---Ralph
  // width: 20px;
  // height: 20px;
  //---Jenny
  @include size(20px, 20px);

  background-color: $color-white;
  border-radius: 50%;

  font-weight: bold;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
  //     inset -1px -1px .5px .5px #c7c7c7;
  //--Jenny 圓點樣式無陰影 內圈灰色無位移(統一-1px)
}

.circle {
  //確認勾選圓點
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  //確認勾選圓點
  z-index: 999;
  object-fit: cover;
  //---Ralph
  // height: 100%;
  // width: 100%;
  //--Jenny
  @include size(100%, 100%);
}

// -------Tags.jsx
.tag_search {
  display: flex;
  gap: 5px;

  a {
    @include h3_body;
    line-height: 150%;
    border-radius: 5px;
    background: $color_gray3;
    padding: 2.5px 12px;
  }
}

//輪播區塊

.box_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  gap: 2%;

  // .accommodation,
  // .fun {
  //   scale: 0.95;
  // }
}

//圖片尚未載入時的樣式

.container_card_img.loading {
  position: relative;
  background-color: #e2e2e2;
  width: 230px;
  height: 300px;
}

.loading {
  position: relative;
  background-color: #e2e2e2;
  width: 230px;
  height: 500px;
  border-radius: 20px;
}

.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent);
  animation: loading 1.5s infinite;
}

.loading-placeholder {
  position: relative;
  background-color: #e2e2e2;
  border-radius: 20px;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}