@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: "Noto Sans TC", 微軟正黑體;
}
* ul {
    list-style: none;
}
* a {
    text-decoration: none;
    color: #333333;
}

/* ------------------------字型對照 */

h2 {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #929292;
    /* 设置所有的 <h2> 初始为灰色 */
}

h2:hover {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: black;
    /* 设置所有的 <h2> 初始为灰色 */
}

.SM_date h2:first-child {
    color: #000;
    /* 第一个 <h2> 设置为黑色 */
}


h3 {

    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.btnAddSpotTitle h3 {
    color: var(--black2, #333);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */

}

.spot_name {
    display: flex;
    align-items: center;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


p {
    color: var(--white, #000000);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
}

.link_google div p {
    color: var(--black2, #333);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
}


/* ---------icon 對照----------------------------------- */
.set_icon {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #3D9D35;
    border-radius: 30px;
    color: #fff;
}

/* 加一天減一天 */
.icon_day {
    /* width: 12px;
    height: 12px; */
    padding: 5px 5px;
    display: flex;
    align-items: center;
    background-color: #3D9D35;
    border-radius: 20px;
    color: #fff;
}

.icon_copy .icon_car {
    padding: auto;
    display: flex;
    align-items: center;
}

.icon_add {
    padding: 5px 5px;
    display: flex;
    align-items: center;
}



/* ---------正文----------------------------------- */

.SM_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 1440px; */
    margin: auto;
    padding: 2% 8%;
    gap: 35px;
}

.left_div {
    width: 440px;
}


/* 麵包屑導覽 */
.SM_wrap {
    padding: 0;
    /* background-color: black; */
}

/* 行程表頭 */
.tripHead {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 行程表名稱+日期 */
.tripTitle {
    display: flex;
    flex-direction: column;
}

/* 功能按鈕 */
.tripFunc {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tripItem {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #3D9D35;
    border-radius: 20px;
    color: #fff;
}





/* 行程天數列 */
.SM_date {
    padding-bottom: 42px;
    display: flex;
}

.btn_day {
    padding: 8px 20px;
    display: flex;
    align-items: center;

    border-bottom: solid;
    border-color: #929292;

    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #929292;
    /* 设置所有的 <h2> 初始为灰色 */
}

.btn_day:hover {
    color: black;
    /* 设置所有的 <h2> 初始为灰色 */
    border-bottom: solid;
    border-color: black;
}

.SM_date .btn_day:first-child {
    color: black;
    border-color: black;
}

.dateControl {
    display: flex;
    padding: 0 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* .icon_day {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    background-color: #3D9D35;
    border-radius: 20px;
    color: #fff;

} */


/* 行程表外框 */
.SM_content {
    /* display: flex; */
    max-width: 100%;
    padding: 20px 0;
}

/* 行程表內容 */
.SM_scheduleList {
    /* border: solid black; */
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    position: relative;
    /* background-color: greenyellow; */
}

/* 行程表一 */
.SM_schedule {
    width: 100%;
    padding: 40px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    /* border: solid black; */
    border: none;
    border-radius: 20px;
    background: var(--gray-light, #F5F5F5);

    position: relative;

    overflow-y: scroll;
    height: 500px;
}

/* 消除卷軸樣式 */
/* 卷軸寬度width */
.box::-webkit-scrollbar {
    width: 3px;
}

/* 卷軸高度的底色(軌跡底色)Track */
.box::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    /* 卷軸圓角 */
    margin: 70px 80px 10px 10px;
    /* 卷軸位置 */
}

/* 卷軸控制塊 Handle */
.box::-webkit-scrollbar-thumb {
    background: #D9D9D9;
}

/* 卷軸控制塊 Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* 以下是消除卷軸的方式 */

/* 卷軸寬度width */
.SM_schedule::-webkit-scrollbar {
    width: 3px;
}

/* 卷軸高度的底色(軌跡底色)Track */
.SM_schedule::-webkit-scrollbar-track {
    background: transparent;
}

/* 卷軸控制塊 Handle */
.SM_schedule::-webkit-scrollbar-thumb {
    background: transparent;
}

.schedule_map_list {
    width: 30%;
    padding: 16px 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    /* border: solid black; */
    border-radius: 20px;
    background: var(--gray-light, #F5F5F5);

    position: relative;
}

.schedule_map {
    width: 100%;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    /* border: solid black; */
    border-radius: 20px;
    background: var(--gray-light, #F5F5F5);

    position: relative;
}


/* 星期N */
.SM_day {
    z-index: 100;
    padding: 8px 20px;
    display: flex;
    align-items: center;

    color: #FFF;
    line-height: 160%;
    background-color: #3D9D35;
    border-radius: 10px;
    position: absolute;
    top: -23px;
    left: 20px;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

/* 備註  */
.note {
    padding: 0 8%;
    /* background-color: gray; */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 景點列表 */
.spotList {
    display: flex;
    margin: 8px 0;
    flex-direction: column;
    gap: 8px;


}

/* 第一個行程 */
.spot {
    display: flex;
    overflow: hidden;

}

/* 左側功能列 */
.leftFunc {
    width: 8%;
    /* padding: 3px; */
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

/* 拖曳 */
.icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-content: center;
    Justify-content: center;
}

/* 釘選 */
/* 替換 */
/* 右側景點資訊 */
.info {
    width: 92%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    position: relative;

    border-radius: 14px;
    background: var(--white, #FFF);

    overflow: hidden;
}

/* 序號 */
.num {
    display: flex;
    align-content: center;
    Justify-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    /* padding: 5px 10px; */
    border-radius: 10px;



    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 圖片 */
.pic {
    width: 45%;
    /* 讓 figure 佔滿父元素的寬度 */
    height: 100%;
    /* 讓 figure 佔滿父元素的高度 */
    overflow: hidden;
    /* 隱藏超出 figure 的內容 */
}

.pic img {
    width: 100%;
    /* 讓圖片寬度填滿 figure */
    height: 100%;
    /* 讓圖片高度填滿 figure */
    object-fit: cover;
    /* 讓圖片填滿整個容器，保持比例 */
}

/* 景點名稱相關資訊 */
.spotInfo {
    width: 55%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 景點時間抬頭 */
.spotTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 圖標時間集合 */
.iconTime {
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

/* 景點圖標 */
/* 到達時間 */
.time {
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
}

/* 刪除鍵 */
/* 地點名稱 */


.spotName_Fuc {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* 建議停留時間 */
.adviseTime {
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 交通區塊 */
.traffic {
    /* display: flex; */
    padding: 3% 8%;
    /* background-color: aquamarine; */
}

/* 交通資訊 */
.trafficInfo {
    display: flex;
    gap: 5px 10px;
    padding: 6% 6%;
    border-left: 3px solid #D9D9D9;
    /* background-color: pink; */
}

/* (D)/body/14px */
.driveTime {
    color: rgba(0, 0, 0, 0.50);
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

/* 按鈕_回到收藏/回到探索 */
.btn_addspot {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    background: var(--white, #FFF);
}

.btnAddSpotTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


/* 地圖卡片文字 */
.map_card_text {
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


/* 頁尾 */
.footer {
    height: 80px;
    /* padding: 20px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 40px;
    background-color: #B8EB35;
}

.footerItem {
    padding: 30px 0px;
    display: flex;
    gap: 0 60px;
}

/* -----------地圖--------------------------------------- */

.right_div {
    position: relative;
    width: 830px;
    height: 730px;
}


.SM_map {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    background-color: #F5F5F5;

    overflow: hidden;
}

.SM_map iframe {
    width: 100%;
    height: 100%;
}

.link_google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;

    padding: 10px 20px;
    gap: 10px;

    background-color: #FFF;
    border-radius: 20px;
}

.link_google figure {
    display: flex;
}

.link_google {
    text-decoration: none;
}

.spot_card_wrapper {
    padding: 30px 20px 20px 20px;

    width: 80%;
    height: 200px;
    background-color: #FFF;
    border-radius: 20px;

    display: flex;
    overflow: auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.btn_close {
    position: absolute;
    right: 15px;
    top: 26px;
    /* scale: 0.7 */

    z-index: 999;
}

.spot_card {
    overflow: auto;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    /* padding:0px 0px 0px 0px; */
    background-color: #FFF;

    overflow-y: scroll;
    height: 200px;
}

/* 卷軸控制 */
/* 卷軸寬度width */
.spot_card::-webkit-scrollbar {
    width: 3px;
}

/* 卷軸高度的底色(軌跡底色)Track */
.spot_card::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    /* 卷軸圓角 */
    margin: 70px 0px 0px 0px;
    /* 卷軸位置 */
}

/* 卷軸控制塊 Handle */
.spot_card::-webkit-scrollbar-thumb {
    background: #D9D9D9;
}

/* 卷軸控制塊 Handle on hover */
.spot_card::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 左側景點卡片 */
.map_card {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.map_card_wrap {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.map_card_wrap a {
    text-decoration: none;
}

.map_card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map_card_score_money {
    display: flex;
    gap: 4px;
}

.map_card_score {
    display: flex;

}

.card_info_list,
.card_info_list2 {
    display: flex;
    flex-direction: row;
}

.card_info_filter {
    padding: 2.5px 13px;
    border-radius: 5px;
    background: #D9D9D9;

    justify-content: center;
    align-items: center;
}

.card_info_list span {
    margin-right: 2.5px;
}


.card_info_list2 span {
    margin-right: 10px;
}

.card_info_filter {
    margin-right: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Inter;
    font-size: 10px;
    font-style: normal;
}

.operation_time {
    gap: 10px;
}

.operation_time p {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* 右側圖片 */
.map_img {
    width: 45%;
    display: flex;

    padding: 0px 60px 0 70px;
}

.map_img img {
    width: 100%;
    border-radius: 20px;
}