
@import "../../assets/scssRule/rule";
@import "../../assets/scssRule/all";
// ======================= RWD ==========================
// Extea small devices(phones, 600px and down)
@media only screen and (max-width:850px){
    .SM_container{
       display: none !important; 
    } 
}


// ====================================

.SM_container {
    margin-top: 8vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 1440px; */
    margin: auto;
    padding: 2% 8% 0 8%;
    gap: 20px;

    .left_div {
        width: 33%;

        // 麵包屑導覽列
        .SM_wrap {
            padding: 0;
        }
        // 裡面放<BreadCrumb />
        // 行程表表頭資訊
        .tripHead {
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .tripTitle {
                display: flex;
                flex-direction: column;

                h2 {
                    font-family: Noto Sans TC;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: #929292;
                    /* 设置所有的 <h2> 初始为灰色 */
                }
                h2:hover {
                    font-family: Noto Sans TC;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: black;
                    /* 设置所有的 <h2> 初始为灰色 */
                }

                h3 {
                    // 行程標題：旅藤台南行
                    font-family: Noto Sans TC;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }
            }
        }

        // 行程天數列
        // .dataSwiper_wrap{
        //     width: 100%;
        // }
        .scroll {
            margin: 0;
            width: 100%;
            height: 520px;
            overflow: hidden;
            overflow-y: scroll;
            position: relative;

            // 卷軸控制
            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 10px;
            }

            /* 卷軸高度的底色(軌跡底色)Track */
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 10px;
                /* 卷軸圓角 */
                margin: 95px 0px 45px 0px;
                /* 卷軸位置 */
            }

            /* 卷軸控制塊 Handle */
            &::-webkit-scrollbar-thumb {
                background: #d9d9d9;
                border-radius: 10px;
            }

            /* 卷軸控制塊 Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .sticky {
                padding-bottom: 10px;

                position: sticky;
                top: 0;
                z-index: 30;
                background-color: #fff;

                // 行程表顯示外框
                .schedule-wrap {
                    // 行程表內容
                    .SM_scheduleList {
                        display: flex;
                        justify-content: flex-start;
                        gap: 0 10px;
                        position: relative;

                        .SM_day {
                            z-index: 100;
                            padding: 8px 20px;
                            display: flex;
                            align-items: center;

                            color: #fff;
                            line-height: 160%;
                            background-color: #3d9d35;
                            border-radius: 10px;
                            position: absolute;
                            top: -23px;
                            left: 20px;
                            font-family: Noto Sans TC;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                        }

                        // 行程表
                        .SM_schedule {
                            width: 100%;
                            padding: 40px 20px 20px 20px;

                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            /* border: solid black; */
                            border: none;
                            border-radius: 20px;
                            background: var(--gray-light, #f5f5f5);

                            position: relative;

                            overflow-y: scroll;
                            height: 500px;

                            // 行程表刪除鍵

                            // 備註
                            .note {
                                padding: 0 8%;
                                /* background-color: gray; */
                                font-family: Noto Sans TC;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            // 景點列表
                            .spotList {
                                display: flex;
                                margin: 8px 0;
                                flex-direction: column;
                                gap: 8px;

                                // 景點卡片
                                .spot {
                                    display: flex;
                                    overflow: hidden;

                                    .leftFunc {
                                        width: 8%;
                                        /* padding: 3px; */
                                        display: flex;
                                        gap: 7px;
                                        flex-direction: column;
                                        align-items: center;
                                    }

                                    .info {
                                        width: 92%;
                                        background-color: floralwhite;
                                        display: flex;
                                        flex-direction: row;
                                        position: relative;

                                        border-radius: 14px;
                                        background: var(--white, #fff);

                                        overflow: hidden;

                                        .num {
                                            display: flex;
                                            align-content: center;
                                            justify-content: center;
                                            position: absolute;
                                            top: 5px;
                                            left: 5px;
                                            z-index: 1;

                                            width: 20px;
                                            height: 20px;
                                            color: black;
                                            background-color: white;
                                            /* padding: 5px 10px; */
                                            border-radius: 10px;

                                            font-family: Noto Sans TC;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 150%;
                                        }
                                        // 圖片
                                        .pic {
                                            width: 45%;
                                            /* 讓 figure 佔滿父元素的寬度 */
                                            height: 100%;
                                            /* 讓 figure 佔滿父元素的高度 */
                                            overflow: hidden;
                                            /* 隱藏超出 figure 的內容 */

                                            img {
                                                width: 100%;
                                                /* 讓圖片寬度填滿 figure */
                                                height: 100%;
                                                /* 讓圖片高度填滿 figure */
                                                object-fit: cover;
                                                /* 讓圖片填滿整個容器，保持比例 */
                                            }
                                        }

                                        // 景點名稱相關資訊
                                        .spotInfo {
                                            width: 55%;
                                            padding: 10px 15px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;

                                            // 景點時間抬頭
                                            .spotTitle {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: center;

                                                // 圖標時間集合
                                                .iconTime {
                                                    display: flex;
                                                    flex-direction: row;
                                                    gap: 0px 10px;
                                                    justify-content: space-between;
                                                    align-items: center;

                                                    // 景點圖標
                                                    .icon {
                                                        width: 16px;
                                                        height: 16px;
                                                        display: flex;
                                                        align-content: center;
                                                        justify-content: center;
                                                    }
                                                    // 到達時間
                                                    .time {
                                                        font-family: Noto Sans
                                                            TC;
                                                        font-size: 12px;
                                                        font-style: normal;
                                                    }
                                                }
                                            }
                                            // 刪除鍵
                                            // .icon-delete{}
                                            // .loc-delete{}

                                            // 地點名稱
                                            .spotName_Fuc {
                                                display: flex;
                                                align-items: center;
                                                gap: 5px;

                                                // .spotName{}
                                                .btn-copy {
                                                    .icon_copy {
                                                        padding: auto;
                                                        display: flex;
                                                        align-items: center;
                                                    }
                                                }
                                            }
                                            .adviseTime {
                                                font-family: Noto Sans TC;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 150%;
                                            }
                                        }
                                    }
                                }
                                // 交通方式
                                .traffic {
                                    padding: 3% 8%;

                                    .trafficInfo {
                                        display: flex;
                                        gap: 5px 10px;
                                        padding: 6% 6%;
                                        border-left: 3px solid #d9d9d9;

                                        .icon-car {
                                            padding: auto;
                                            display: flex;
                                            align-items: center;
                                        }
                                        .driveTime {
                                            color: rgba(0, 0, 0, 0.5);
                                            font-family: Noto Sans TC;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 160%;
                                        }
                                    }
                                }
                            }

                            // 增加天數按鈕
                            .btn_addspot-wrap {
                                // 回到收藏
                                .btn_addspot {
                                    display: flex;
                                    padding: 10px 20px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;

                                    border-radius: 20px;
                                    background: var(--white, #fff);

                                    .btnAddSpotTitle {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 5px;

                                        // .icon-love{}
                                        h3 {
                                            color: var(--black2, #333);
                                            font-family: Noto Sans TC;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 150%;
                                            /* 24px */
                                        }
                                    }
                                }
                            }
                        }

                        /* 以下是消除卷軸的方式 */

                        /* 卷軸寬度width */
                        .SM_schedule::-webkit-scrollbar {
                            width: 3px;
                        }

                        /* 卷軸高度的底色(軌跡底色)Track */
                        .SM_schedule::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        /* 卷軸控制塊 Handle */
                        .SM_schedule::-webkit-scrollbar-thumb {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

    // 右側資訊 地圖欄位
    .right_div {
        position: relative;
        width: 57%;
        height: 600px;

        // 引入 MapCard 元件
    }
}
